*.class
*.log
.cache-main
.cache-tests
.cache/
.cache
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.classpath/
.classpath
.project/ 
.project
.settings
/bin/
